@font-face {
  font-family: "Tomorrow";
  src: url("@/assets/styles/fonts/Tomorrow-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("@/assets/styles/fonts/Karla-Regular.ttf") format("truetype");
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif !important;
}

.inter {
  font-family: "Inter", sans-serif !important;
}

.semi-heading {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bold-heading-1 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.heading-1 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-2 {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.semi-heading-3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading-3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bolder-form-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.semibold-form-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.semi-form-sub-title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-sub-title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bold-sub-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.semi-sub-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sub-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.thin-sub-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.semi-paragraph {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.semi-caption {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #ffffff !important;
  font-family: "Tomorrow", "Arial", sans-serif !important;
}
